<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itender.analytics.alarm.mapper.mysql.AlarmFilterMapper">

    <select id="modelList" resultType="com.itender.analytics.alarm.domain.vo.AlarmFilterVO">

    </select>
</mapper>